extends layout

block content
  .container
    .col-xs-12.header
      .brand
        img.img-responsive(src='http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/d9/d9d552c5a569bb35be4c9eb66b554a20f51df36c_full.jpg')
      h1 Reddit Racing Leaderboards
      h2 Formula B @ Watkins Glen GP
    .col-xs-12.well.well-table
      table#leaderboard.table.table-striped
        thead
          tr
            th
            th Username
            th Lap
            th.hidden-xs Gap
            th.hidden-xs Date
        tbody
          if (leaderboardData.length > 0)
            - var n = 1;
            each row in leaderboardData
              tr
                td= n++
                td
                  a(href='#{row.steamURL}')!= row.username
                td= row.time
                td.hidden-xs= '+' + row.gap
                td.hidden-xs
                  small= row.timestamp
          else
            tr
              td(colspan='5')
                p.text-center No times have been set.

